<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Web Curator Start Page</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<main class="body-content-card">
	{{&tpl_header.html($header)}}
	{{&tpl_nav.html($nav)}}
	<section class="main-content-card">
		{{&tpl_author_links_card.html($author_links)}}
		{{&tpl_article_links_card.html($recent_articles)}}
	</section>
	<aside class="side-content-card">
		{{&tpl_article_links_card.html($recent_articles)}}
	</aside>
	{{&tpl_footer.html($footer)}}
</main>
</body>
</html>


