<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
{{+article}}
	<title>{{$title}}</title>
{{/+article}}
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<main class="body-content-card">
	{{&tpl_header.html($header)}}
	{{&tpl_nav.html($nav)}}
	<section class="main-content-card">
		{{&tpl_article_card.html($article)}}
		{{&tpl_prev_next_article_card.html}}
	</section>
	<aside class="side-content-card">
		{{&tpl_article_links_card.html($recent_articles)}}
	</aside>
	{{&tpl_footer.html($footer)}}
</main>
</body>
</html>

